Language: Cpp
BasedOnStyle: Google

# public,private向左编译4空格
AccessModifierOffset: -4

# 宏定义对齐
AlignConsecutiveMacros: true

# 声明变量对齐
AlignConsecutiveAssignments: true

# 每行限长130
ColumnLimit: 130

# *和&声明靠左
DerivePointerAlignment: false
PointerAlignment: Left

# 头文件对齐
IncludeBlocks: Preserve

# 缩进
IndentWidth: 4

# tab
TabWidth: 4