Language: Cpp
BasedOnStyle: Google

# public,private向左偏移4空格
AccessModifierOffset: -4

# 宏定义对齐
AlignConsecutiveMacros: true

# 每行限长130
ColumnLimit: 130

# *和&声明靠左
DerivePointerAlignment: false
PointerAlignment: Left

# 头文件对齐
IncludeBlocks: Regroup

# 缩进
IndentWidth: 4

# tab
TabWidth: 4

# 枚举值一直都换行
AllowShortEnumsOnASingleLine: false